<!doctype html>
<html lang="sv">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/base.css" />
    <title>{% block title %}Min hemsida{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <nav>
      <a href="/">Hem</a>
      <a href="/about">Om oss</a>
      <a href="/contact">Kontakt</a>
      <a href="/news">Nyhter</a>
    </nav>
    <header>{% block heading %}{% endblock %}</header>

    <div class="content">{% block content %}{% endblock %}</div>
  </body>
</html>
